

font-face  {
    font-family: "arvo";
    src: url('http://fonts.googleapis.com/css?family=Arvo');

}

body {
    width: 100%;
    height: auto;
}


nav {
display : flex;
width: 100%;
height: 40px;
background-color:rgb(53, 49, 52);

}

#home {
    font-family: "arvo", serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    background-image: url(../images/hero-image.jpg);
    background-size:cover;
    justify-content: center;
    align-items:center;
    background-repeat:no-repeat;
}

.home1 {
    font-family: 'arvo', serif;
    font-size:55px;
    margin-top:-50px;
    margin-left:center;
    text-align: center;
    color:white;
    margin-top :0;

}

.home2 {
    
    font-size:15px;
    text-align:center;
    margin-top:-2Opx; 
    color: white;
    margin-top: 50px;
}



.home3 {

    margin: 50px;
    
}

.button {
    display:flex;
    font-size:25px;
    width: 180px;
    height:55px;
    background-color: rgb(230, 70, 70);
    color:white;
    border-radius:5px;
    border:none;
    color:white;
    justify-content:center;
    margin-top: 0;
    

}

.home4 {
    display:flex;
    width: 70px;
    height: 70px;
    background-image: url(../images/code.png);
    background-size:cover;
    align-items:center;
    justify-content:center;
    margin-top:-20px;
}


#who { 
    display: flex;
    width: 100%;
    height: 400px;
   
}

#get-involved {
    display: flex;
    width: 100%;
    height: 400px;
    background-color: rgb(243, 243, 243);
    border-color:black;
}









}
.footer {
    display:flex;
    background-color: rgb(230, 70, 70) ;
    width:100%;
    height:100px
}